<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>D.P.-Result</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header" align="center">Результат работы детектора</h1>
        </div>
        <br>
        <form id="upload-form" align="center" action="{{ url_for('info_to_user') }}" method="GET">
            <input type="submit" align="center" value="Вернуться к выбору фотографии" id="upload-button">
        </form>
        {% for image_name in image_names %}
        <div align="center">
            <img class="img-responsive" style="height: 480px;width: 640px;" src=" {{url_for('static', filename=image_name)}}">
        </div>
        {% endfor %}
    </div>
</div>
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous">
</script>
</html>
